.search {
    background-color: azure;
    margin: 30px 30px 30px 0px;
}
.search p {
    margin-left: 20px;
    font-size: 24px;
    color: darkslateblue;
}
.search-input {
    background-color: azure;
    border: none;
    border-bottom: solid 2px gray;
    font-size: 52px;
    outline: none;
}