.search {
    display: flex;
    gap: 10px;
    background-color: #EEEEEE;
    margin: 30px 30px 30px 0px;
}
.fullwidth {
    width: 100%;
}
.search p {
    font-size: 24px;
    color: #1F3A93;
}
.search i {
    color: lightgray;
    padding: 100% 4px 0px;
    font-size: 34px;
}
.search input {
    color: #1F3A93;
    background-color: #EEEEEE;
    border: none;
    border-bottom: solid 2px lightgray;
    font-size: 46px;
    outline: none;
    width: 100%;
}