.sidebar {
  display: flex;
  flex-direction: column;
  border-left: solid 2px lightgray
}
.sidebar-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}
.sidebar-item > * {
  color: rgb(61, 85, 107);
}
.sidebar-item {
  margin-right: 2px;
  border-radius: 9px;
}
.title-holder {
  display: flex;
  align-items: center;
}
.sidebar-item:hover{
  background-color: lightgray;
  border-left: solid 3px green;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
} 