.home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 80px 100px 0;
    padding: 10px;
    column-gap: 10px; /* odd */
    row-gap: 10px; /* odd */
    /* debug */
    background-color: blanchedalmond;
}
/* debug */
.home * {
    font-size: xx-large;
    text-align: center;
    padding-top: 50px;
}

.search-wrapper {
    grid-column-start: 1;
    grid-column-end: 4;
    /* debug */
    height: 200px;
    background-color: red;
}
.sidebar-wrapper {
    grid-column-end: 2;
    /* debug */
    background-color: orange;
    height: 800px;
}
.content-wrapper {
    grid-column-start: 2;
    grid-column-end: 5;
    /* debug */
    background-color: yellow;
}